@media (max-width: 768px){
  body{
    font-size: 16px;
  }
  
  .center{
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }  

  .header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(../GameStor-img/preview-mob.png), lightgray -240.259px 0px / 294% 100% no-repeat;
    height: 735px;
    &_title{
      font-size: 2rem;
      text-align: center;
    }
    &_text{
      font-size: 0.875rem;
      text-align: center;
    }
    &_button{
      margin: 0 0 0 70px
    }
  }
  .nav_body{
    height: 1221px;
  }
  .nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &_pos{
      padding: 236px 0 32px 16px;
    }
    &_1-img{
      width: 343px;
    }
    &_2-img {
      width: 343px;
    }
    &_3-img {
      width: 343px;
    }
  }
  .midle {
    flex-wrap: wrap;
    height: 653px;
    &_block{
      text-align: center;
      padding: 0 16px;
    }
    &_img{
      display: none;
    }
    &_img_mob{
      display: block;
    }
  }
  .midle_2 {
    height: 653px;
    padding: 0 0 90px 0;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    &_block {
      text-align: center;
      padding: 0 16px;
    }
    &_img {
      display: none;
    }
    &_img_mob {
      display: block;
    }
  }
  .block{
    padding: 0 16px;
    &_title{
      font-size: 2rem;
      padding: 96px 0 0 0;
    }
    &_text {
      max-width: 375px;
      font-size: 0.875rem;
      text-align: center;
    }
  }
  .penultimate_blok {
    background: linear-gradient(180deg, #000915 0%, #00000000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(../GameStor-img/preview-mob_bot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
  .penult {
    padding: 0 16px;
    &_title {
      font-size: 2rem;
    }
    &_text {
      font-size: 0.875rem;
      text-align: center;
    }
  }
}